<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/public/css/cart.css">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="user-info">
                <span>Welcome, Username</span>
                <span>Your Location</span>
            </div>
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="/overlay.html">Stores</a>
                <a href="#">Cart</a>
                <a href="#">Profile</a>
                <a href="#">Manage Store </a>
                <a href="#">Manage User</a>
            </div>
        </div>
    </div>

    <div class="container-cart">
        <h1>Your Cart</h1>
        <ul class="cart-items">
            <li class="cart-item">
                <img src="/public/images/loginbg.avif" alt="Product Image">
                <div class="cart-item-details">
                    <div class="cart-item-title">Product Name</div>
                    <div class="cart-item-price">Price: $10.00</div>
                    <div class="cart-item-quantity">Quantity: 1</div>
                </div>
                <div class="cart-item-remove">Remove</div>
            </li>
            <li class="cart-item">
                <img src="/public/images/loginbg.avif" alt="Product Image">
                <div class="cart-item-details">
                    <div class="cart-item-title">Product Name</div>
                    <div class="cart-item-price">Price: $10.00</div>
                    <div class="cart-item-quantity">Quantity: 1</div>
                </div>
                <div class="cart-item-remove">Remove</div>
            </li>
        </ul>
        <div class="cart-total">Total: $10.00</div>
        <div class="cart-actions">
            <button>Proceed to Checkout</button>
        </div>
    </div>
</body>

</html>